/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #000; */
}

/* Body Styling */
body {
  background-color: #000000;
  transition: background-color 0.3s ease;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  color: white;
}

.main-container {
  display: flex;
  margin-left: 8.5em;
  height: fit-content;
  width: calc(100vw - 17.5em);
  background-color: #000000;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 650px;
  margin-left: 18.4vw;
  margin-top: 15px;
  background-color: #000000;
  transition: margin 0.3s ease;
}

.outerContainer
{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.createPostContainer
{
  width: 500px;
  height: 500px;
  background-color: #606060;
}
.addImg
{
  font-size: 60px;
}
@media screen and (max-width: 1263px) {
  .main-container {
    margin-left: 0px;
    width: calc(100vw);
  }

  .content-container {
    margin: 8px auto;
  }
}

@media screen and (max-width: 768px) {
  .content-container {
    /* margin: 4px auto; */
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .content-container {
    margin: 2px auto;
    width: 95%;
  }
}
